* {
    font-family: 'Lato', 'Cabin', sans-serif;
}
body {
    margin: 0;
    padding: 50px;
    background: #252d32;
}
.container {
    max-width: 974px;
    margin: auto;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px #000000;
}

header {
    display: flex;
    align-items: center;
}

header h1, p {
    margin: 0;
}

header ul {
    margin-left: auto;
}

header article {
    margin-left: 20px;
}

header .icon-block {
    justify-content: flex-end;
}

.logo {
    width: 120px;
    height: 120px;
    border: 3px solid #1dbfaf;
    border-radius: 50%;
}

h2 {
    border-bottom: 2px solid #1dbfaf;
}

.about-me-article p {
    padding: 0 0 0 40px;
    text-align: justify;
}

ul {
    list-style: none;
}

.skills li {
    display: inline;
    padding: 5px;
    color: #1dbfaf;
    background: #1e2428;
    border: 1px solid black;
    border-radius: 5px;
}

a { 
    text-decoration: none;
    color:#000;
}
a:visited {
    text-decoration: none;
    color:#000;
}
a:hover {
    text-decoration: none;
    color:#000;
}
a:focus {
    text-decoration: none;
    color:#000;
}
a:hover, .navBtn:active { 
    text-decoration: none;
    color:#000;
}